<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="java.util.LinkedHashMap" alias="LinkedHashMap"/>
		<typeAlias type="java.util.ArrayList" alias="ArrayList"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${id}"/>
				<property name="password" value="${pwd}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper url="file:${query}"/>
	</mappers>
</configuration>
